<% layout("/layouts/boilerplate") %>
    <!-- <h3>All Listings</h3> -->
    <!-- <form action="/listings/new" method="GET">
        <button>Create New Listing</button>
    </form> -->
    <div class="filters-wrapper">
        <button class="filters-scroll filters-scroll-left" type="button" aria-label="Scroll left">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
        <div id="filters">
            <a class="filter listing-link" href="/listings?category=beaches">
                <div><i class="fa-solid fa-umbrella-beach"></i></div>
                <p>Beaches</p>
            </a>
            <a class="filter listing-link" href="/listings?category=hill-stations">
                <div><i class="fa-solid fa-mountain-sun"></i></div>
                <p>Hill Stations</p>
            </a>
            <a class="filter listing-link" href="/listings?category=historical-places">
                <div><i class="fa-solid fa-landmark"></i></div>
                <p>Historical Places</p>
            </a>
            <a class="filter listing-link" href="/listings?category=adventure-spots">
                <div><i class="fa-solid fa-person-hiking"></i></div>
                <p>Adventure Spots</p>
            </a>
            <a class="filter listing-link" href="/listings?category=wildlife-nature">
                <div><i class="fa-solid fa-tree"></i></div>
                <p>Wildlife & Nature</p>
            </a>
            <a class="filter listing-link" href="/listings?category=religious-spiritual">
                <div><i class="fa-solid fa-hands-praying"></i></div>
                <p>Religious & Spiritual</p>
            </a>
            <a class="filter listing-link" href="/listings?category=modern-cities-urban">
                <div><i class="fa-solid fa-city"></i></div>
                <p>Modern Cities/Urban</p>
            </a>
            <a class="filter listing-link" href="/listings?category=deserts-unique-landscapes">
                <div><i class="fa-solid fa-sun-plant-wilt"></i></div>
                <p>Deserts & Unique Landscapes</p>
            </a>
        </div>
        <button class="filters-scroll filters-scroll-right" type="button" aria-label="Scroll right">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
        <div class="switch">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display Total After GST</label>
            </div>
        </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
        <% for(let listing of allListings){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col listing-card">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                    <div class="card-img-overlay">
                        <button class="wishlist-btn" data-listing-id="<%= listing._id %>" aria-label="Add to wishlist">
                            <i class="fa-regular fa-heart"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %></b>
                            <br>
                            <span class="price-display">
                                &#8377;<span class="base-price"><%= listing.price.toLocaleString("en-IN") %></span>/ night
                            </span>
                            <span class="tax-price" style="display: none;">
                                &#8377;<span class="total-price"><%= Math.round(listing.price * 1.18).toLocaleString("en-IN") %></span>/ night
                            </span>
                        </p>
                    </div>
                </div>
            </a>
        <%}%> 
    </div>